{% extends "base.html" %} {% block title %} Contact {% endblock %} {% block
    content %}
    <div class="card-body">
      <div class="card-header d-flex justify-content-between align-items-center">
        <p>Contact me on Twitter</p>
        <div class="card-text">
          <a
            href="https://twitter.com/intent/tweet?screen_name=krishtimil&ref_src=twsrc%5Etfw"
            class="twitter-mention-button"
            data-show-count="false"
            >Tweet to @krishtimil</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
    </div>
    
    <br />
    
    <div class="card-body">
        <div class="card-header d-flex justify-content-between align-items-center">
            <p>Contact me on Linkedin</p>
            <div
                class="badge-base LI-profile-badge"
                data-locale="en_US"
                data-size="medium"
                data-theme="dark"
                data-type="VERTICAL"
                data-vanity="chukwunonsookafor"
                data-version="v1"
            >
                <a
                class="badge-base__link LI-simple-link"
                href="https://ng.linkedin.com/in/krishtimil?trk=profile-badge"
                >Krishant Timilsina</a
                >
                <script
                src="https://platform.linkedin.com/badges/js/profile.js"
                async
                defer
                type="text/javascript"
                ></script>
            </div>
        </div>
    </div>
    
    {% endblock %}
    
    
    